.Article {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e2e2e2;
    padding-top: 21px;
    margin-bottom: 20px;
    font-family: georgia,"times new roman",times,serif;
}

.Article date{
    flex: 0 0 105px;
    font-size: 11px;
    line-height: 0.8125rem;
    font-weight: 400;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    display: block;
    color: #999;
    margin-bottom: 7px;
    margin-top: 8px;
}

.Article a{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.Article .description{
    flex-basis: 63%;
}

.Article h2{
    padding-right: 7px;
    color: #000;
    font-size: 23px;
    line-height: 1.5625rem;
    font-weight: 400;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    margin-top: 0px;
    margin-bottom: 8px;
}
.Article h2:hover, .Article h2:active{
    text-decoration: underline;
    color: #000;
}

.Article p {
    color: #000;
    font-size:14px;
    line-height: 1.25rem;
    margin-top: 0px;
    margin-bottom:0px;
}

.Article .byLine{
    font-size: 11px;
    line-height: 0.75rem;
    font-weight: 500;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    margin: 11px 0 4px;
    color: #999;
}
.Article figure{
    flex: 0 0 180px;
    margin: 0;
    /*why width = 180px didn't work?*/
}
.Article figure img{
    max-width: 100%;
}
