.Dropdown{

}

.dropDown-btn{
    min-width: 100px;
    padding: 20px;
    border: none;
    background: #232323;
    font-size: 15pt;
    color: white;
}

.dropDown-content{
    /*overflow: hidden;*/
    /*min-height:200px;*/
    min-width: 100px;
    height:200px;
    font-size: 10pt;
    color: white;
    background: #232323;
}

.dropDown-content-enter {
    opacity: 1;
    /*transform: scale(0.9) translateY(50%);*/

    animation-name: showDropDown;
    animation-duration: 0.5s;
}

.dropDown-content-exit{
    animation-name: showDropDown;
    animation-direction: reverse;
    animation-duration: 0.5s;
}

/*animation: App-logo-spin infinite 20s linear;*/

@keyframes showDropDown {
    from {
        opacity:0;
        height: 0px;
    }
    to {
        opacity:100%;
        height: 200px;
    }
}