.Person {

}

.name-bar {
    background: white;
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    margin-right: 16px;
}

h2 {
    margin: 0;
    font-size: 16pt;
    font-weight: 500;
}

.action {
    display: flex;
    justify-content: space-evenly;
}
button {
    outline: 0;
    position: relative;
    overflow: visible;
}
button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}
@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(15, 15);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(25, 25);
    }
}
button:focus:not(:active)::after {
    animation: ripple 0.5s ease-out;
}

.info {
    padding: 8px 18px 8px 18px;
}
p {
    margin: 0;
}



.PersonHiddenBar .material-icons.md-18 {
    font-size: 18px;
    padding-right: 10px;
}
.PersonHiddenBar .p {
    font-size: 12pt;
}
.PersonHiddenBar .action {
    margin-bottom: 8px;
    padding-top:8px;
}
.PersonHiddenBar .action button{
    flex-direction: column;
}
.PersonHiddenBar .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #E0E0E0
}
.PersonHiddenBar .number-line {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.PersonHiddenBar .email-line {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.PersonHiddenBar .address-line {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}


.PersonHiddenBar {
    display:block;
    /*opacity:1;*/
    max-height:186px;
    padding: 0 8px 0 8px;
    background-color: #FAFAFA;
    overflow:hidden;
    transition:max-height 0.5s ease-in-out;

}
.PersonHiddenBar.collapsed {
    overflow:hidden;
    max-height:0;
    padding-top:0;
}





