.Content {
    background-color: aquamarine;
    margin: 10px;
    display: flex;
    flex-direction:column;
    flex-basis: 63%;
    padding-right: 7px;
    color: #000;
}

.title {
    /*font-size: 23px;*/
    font-size: 1.4375rem;
    /*line-height: 25px;*/
    line-height: 1.5625rem;
    font-weight: 400;
    font-style: normal;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
}

.summary{
    /*font-size: 14px;*/
    font-size: 0.875rem;
    /*line-height: 20px;*/
    line-height: 1.25rem;
    font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
    max-width: 540px;
    align-self: flex-start;
    margin-bottom: 0;
    color: #333;
}

.author{
    display: block;
    font-size: 0.6875rem;
    line-height: 0.75rem;
    font-weight: 500;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    align-self: flex-start;
    margin: 11px 0 4px;
    color: #999;
}

